<div class="add-form">
    <h2 class="form-title">Add student</h2>

    <form class="form-container" [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <!-- Name -->
        <mat-form-field class="form-item">

            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Nombre" formControlName="name" />

            <mat-error *ngIf="addForm.get('name')?.touched && addForm.get('name')?.hasError('required')">
                The name is required
            </mat-error>

            <mat-error
                *ngIf="addForm.get('name')?.touched && addForm.get('name')?.hasError('minlength') && !addForm.get('name')?.hasError('required')">
                Invalid name
            </mat-error>

        </mat-form-field>

        <!-- Surame -->
        <mat-form-field class="form-item">

            <mat-label>Surame</mat-label>
            <input matInput type="text" placeholder="Surname" formControlName="surname" />

            <mat-error *ngIf="addForm.get('surname')?.touched && addForm.get('surname')?.hasError('required')">
                The surname is required
            </mat-error>

            <mat-error
                *ngIf="addForm.get('surname')?.touched && addForm.get('surname')?.hasError('minlength') && !addForm.get('surname')?.hasError('required')">
                Invalid surname
            </mat-error>

        </mat-form-field>

        <!-- DNI -->
        <mat-form-field class="form-item">

            <mat-label>Dni</mat-label>
            <input matInput type="number" placeholder="181204001" formControlName="dni" />

            <mat-error *ngIf="addForm.get('dni')?.touched && addForm.get('dni')?.hasError('required')">
                The DNI is required
            </mat-error>

            <mat-error
                *ngIf="addForm.get('dni')?.touched && addForm.get('dni')?.hasError('min') && !addForm.get('dni')?.hasError('required')">
                Invalid DNI
            </mat-error>

        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="form-item">

            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="mail@example.com" formControlName="email" />

            <mat-error *ngIf="addForm.get('email')?.touched && addForm.get('email')?.hasError('required')">
                The email is required
            </mat-error>

            <mat-error
                *ngIf="addForm.get('email')?.touched && addForm.get('email')?.hasError('email') && !addForm.get('email')?.hasError('required')">
                Invalid email
            </mat-error>

        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="addForm.invalid" class="form-item">Submit</button>

        <button mat-raised-button type="button" (click)="onReset()" class="form-item">Reset</button>

        <!-- Information submitted -->
        <div *ngIf="res">
            <!-- <h3>Form submited</h3>
            <p>{{res | json }}</p> -->
            <!-- Logica para un toast con bootstrap -->
        </div>
    </form>
</div>